*{
    cursor: url(../images/pointer2.png), auto;
}

a:hover{
    text-decoration: none;
}

@font-face {
    font-family: "honoka-minchou";
    src: url(../font/honoka-min2-1/Honoka_Shin_Mincho_L.otf);
}

body{
    font-family: "honoka-minchou";
    margin: 0 0;
    background: #ddd url(../images/05.png) no-repeat center center;
}

/* font-size */
h1{
    font-size: 1em + 4vw;
}

h2{
    font-size: 1em + 2vw;
}

h3{
    font-size: 1em + 1.4vw;
}

p{
    font-size: 1em + 1vw;
}

/* main */

/* header */
header{
    text-align: center;
    margin: 0px 0px 2em 0px;
    background-color: rgba(77, 72, 72, 0.5);
}

nav a{
    padding: 1vw 0px 8px 0px;
    color: white;
}
  
nav a:hover{
    color: darkgoldenrod;
    animation: beating .6s;
    animation-iteration-count: infinite;
}

@keyframes beating {
	from, to { transform: none; }
	10% { transform: scale(.8); }
	40% { transform: scale(1.4); }
	60% { transform: scale(1.3); }
	80% { transform: scale(1.7); }
}

nav a:active{
    color: aqua;
    animation: push .2s;
    animation-iteration-count: infinite;
}

@keyframes push {
    from, to {transform: none;}
    10% {transform: scale(2.0);}
    50% {transform: scale(2.5);}
    80% {transform: scale(3.0);}
}

/* profileの設定 */
.profile{
    text-align: center;
    height: 100px + 40vw;
    background-color: rgba(200, 200, 200, 0.68);
}
  
.profile img{
    padding: 1em 0;
    max-height: 15em;
    border-radius: 50%; /*画像を丸くする*/
}

.profile img:hover{
    animation: photo 5s;
    animation-timing-function: linear;
    animation-iteration-count: calc(3);
}

@keyframes photo {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.profile h2{
    margin-bottom: 1em;
}

.self-introduction, .contact{
    margin: 2em 0 0 0;
}

/* news */
.news{
    height: 50em;
    background-color: rgba(200, 200, 200, 0.68);
}

.news h2{
    text-align: center;
    margin: 2vw;
}
.news article{
    padding: 2vw 1vw 0 1vw;
}


/* スマホ */
@media only screen and (max-width:787px) {

    /* font-size */
    h1{
        font-size: 1em + 3vw;
    }

    h2{
        font-size: 1em + 1vw;
    }

    h3{
        font-size: 1em + 0.5vw;
    }

    p{
        font-size: 1em + 0.2vw;
    }

    
    body{
        background-position: 30%;
        background-size: cover;
    }

    header{
        display: none;
    }

    /* profileの設定 */
    .profile{
        margin: 2em 0;
        padding-bottom: 2em;
    }

    .profile h2{
        animation: wave1 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes wave1 {
        0% { transform: translateX(0px)}
        25% { transform: translateX(4px)}
        50% { transform: translateX(8px)}
        75% { transform: translateX(4px)}
        100% { transform: translateX(0px)}
    }

    .profile h3{
        animation: wave2 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes wave2 {
        0% { transform: translateX(0px)}
        25% { transform: translateX(-4px)}
        50% { transform: translateX(-8px)}
        75% { transform: translateX(-4px)}
        100% { transform: translateX(0px)}
    }

    .profile p{
        animation: wave3 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes wave3 {
        10% { transform: translateX(0px)}
        35% { transform: translateX(-4px)}
        60% { transform: translateX(-8px)}
        85% { transform: translateX(-4px)}
        100% { transform: translateX(0px)}
    }
}